<!-- Class and object -->

<head>
    <script src="oop_concepts_script.js">
    </script>
</head>

<body>

    Enter First name :
    <input type="text" id="fname">
    <br> Enter Last name :
    <input type="text" id="lname">
    <input type="submit" onclick="Employee(document.getElementById('fname').value,document.getElementById('lname').value)">
    <p id="info"></p>
</body>