<!-- this is html page for functions --> 
<head>
    <script src="thisisjs.js"> </script>
</head>
<body>
    enter no.1 : <input id="k1" type= "text"><br>
    enter no.2 : <input id="k2" type= "text"><br>
    enter operator : <input id="operator" type= "text"><br>
    <p> enter only  + - / * % </p><br>
    <input type="submit" value="answer" onclick="calculate()">
    <h1 id="solution"> </h1>
</body>

