<head>
    <script>

        function regexSample() {
            var r=new RegExp("[^a-z|^A-Z]");
if(r.test(document.getElementById("name").value))
{
alert("Only alphabets from a-z and A-Z are allowed");
return false;
}
        }
    </script>
</head>

<body>
    Enter your name :
    <input id="name" type="text">
    <input type="submit" value="Check" onclick="regexSample()">
</body>