<!DOCTYPE html>
<html>
  <head>
    <title>
      Registration
    </title>
  </head>
  <body>
    <h1>Registration form</h1>
    <form name="registration" >
      <table>
        <tr>
          <td>
            <label name="textName">Name:</label>
          </td>
          <td>
            <input type="text" ng-model="userName" ng-init="userName='Ram'" value="Ram" name="userName" />
          </td>
        </tr>
        <tr>
          <td>
            <label name="textEmail">Email:</label>
          </td>
          <td>
            <input type="text" name="userEmail" />
          </td>
        </tr>
        <tr>
          <td>
            <label name="textPhone">Phone:</label>
          </td>
          <td>
            <input type="text" name="userPhone" />
          </td>
        </tr>
        <tr>
          <td>
            <label name="textPassword">Password:</label>
          </td>
          <td>
            <input type="password" name="userPassword" />
          </td>
        </tr>
        <tr>
            <td>
              <label name="textConfirmPassword">Confirm password:</label>
            </td>
            <td>
              <input type="password" name="userConfirmPassword" />
            </td>
          </tr>
        <tr cols-pan="2">
          <td>
          </td>
          <td>
            <input type="submit" value="Submit" onclick="confirmPassword()" />
          </td>
        </tr>
      </table>
      <p id="message"></p>
    </form>
    
  </body>
</html>