<html>

<head>
  <title>REGISTRATION</title>
</head>

<body>
  <form id="demo" #regiForm="ngForm" (submit)="submit(regiForm)">
    <div>
      <h3>Personal Details</h3>
      <table align="centerd">
        <tr>
          <td>Name:</td>
          <td>
            <input type="text" name="name" value="" id="name" required minlength="3" appForbiddenName="bob" [(ngModel)]="regiData.name"
              #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">

              <div *ngIf="name.errors.required">
                Name is required.
              </div>
              <div *ngIf="name.errors.minlength">
                Name must be at least 3 characters long.
              </div>
              <div *ngIf="name.errors.forbiddenName">
                Name cannot be Bob.
              </div>

            </div>
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <input type="mail" name="email" id="email" [(ngModel)]="regiData.mail"  #mail="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
            <div *ngIf="mail.invalid && (mail.dirty || mail.touched)">

              <div *ngIf="mail.errors.required">
                Mail is required.
              </div>
              <div *ngIf="mail.errors.pattern">
                Invalid entry.
              </div></div>
          </td>
        </tr>
        <tr>
          <td>Contact:</td>
          <td>
            <input type="text" name="contact" id="contact" [(ngModel)]="regiData.contact" required minlength="10" #contact="ngModel" pattern="^[0-9]{10}$">
            <div *ngIf="contact.invalid && (contact.dirty || contact.touched)">

              <div *ngIf="contact.errors.required">
                Contact is required.
              </div>
              <div *ngIf="contact.errors.pattern">
                Invalid entry.
              </div></div>
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <input type="password" name="password" [(ngModel)]="pass" [ngClass]="{'valid':(vpass=='valid') , 'invalid':(vpass=='invalid') }">
          </td>
        </tr>
        <tr>
          <td>Confirm Password:</td>
          <td>
            <input type="password" name="cpassword" [(ngModel)]="cpass" (blur)="validatepass()" [ngClass]="{'valid':(vpass=='valid') , 'invalid':(vpass=='invalid') }">
          </td>
        </tr>
      </table>
      <button type="submit" value="submit" name="submit">submit</button>
      <p>
          <a (click)="navigateLogin()">Login</a>
      </p>
    </div>
  </form>
</body>

</html>
