<head>
    <script src="reg_script.js"></script>
</head>

<body>

    <form id="userInfo" method="get" onsubmit="return getJSON()">
        <h3>Personal Information</h3>
        UserName :
        <input type="text" name="name" id="name" />
        <br>
        <br> Age :
        <input type="text" name="age" id="age" />
        <br>
        <br> Gender :
        <input type="radio" name="gender" value="male" id="gender">Male
        <input type="radio" name="gender" value="female" id="gender">Female
        <br>
        <br> Date of Birth :

        <input type="date" id="dob" name="dob">
        <br>
        <br> Contact no :
        <input type="text" id="con" name="contact">
        <br>
        <br> Address :
        <input type="text" id="ad" name="address">
        <br>
        <br>
        <h3> Educational Information</h3>
        Gradation Degree :

        <input type="text" id="gd" name="gradution">
        <br>
        <br> Master Degree :
        <input type="text" id="mg" name="masters">
        <br>
        <br> Graduation's college :

        <input type="text" id="gClg" name="graduation_college">
        <br>
        <br> Master's college :
        <input type="text" id="mClg" name="master_college">

        <p>
            <input type="submit" onclick="getJSON()" value="Send";>
        </p>
        <p id="json"></p>
    </form>
</body>