<div *ngIf="page=='regi'">
  <app-registration (linkEvent)="receiveMessage($event)" (regiJSONEmiter)="recieveRegiData($event)"></app-registration>
</div>
<div *ngIf="page=='login'" >
    <app-login (linkEvent)="receiveMessage($event)" [regiDataJSON]="dataToSend"></app-login>
</div>