<head>
    <script src="script.js"></script>
</head>
<body>
    <!-- type of functions -->
  
    Enter no 1 : <input id="n1" type="text" >
    Enter no 2 : <input id="n2" type="text" ><br/><br/>
    Select Operator : <select id="opt">
        <option>+</option>
        <option>/</option>
        <option>-</option>
        <option>*</option>
        <option>%</option>
    </select>
    <input type="submit" value="Calculate" onclick="cal()">
 
    Answer
    <h2 id="ans">
        
    </h2>
    Exponential<h2 id="ex">
        
    </h2>

    Number written with a specified number(3) of decimals<h2 id="dc">
        
        </h2>
        
    Converting number into a date<h2 id="ex">
        
        </h2>
</body>