.validPass 
{
    border: 1px solid rgb(95, 241, 9);
    color: #000;
}
.invalidPass 
{
    border: 1px solid rgb(195, 13, 13);
    color: rgba(190, 16, 16, 0.685);
}
.invalid
{
    color: rgb(195, 13, 13);
}