<html>

<head>
  <title>LOGIN</title>
</head>

<body>
  <form>
    <div>
      <h2 align="center">User Login</h2>
      <table align="center">
        <tr>
          <td>Name:</td>
          <td>
            <input type="text" name="name" value="" id="name" required [(ngModel)]="logData.name" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <input type="password" name="password" value="" id="password" required [(ngModel)]="logData.password" #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
            </div>
          </td>
        </tr>
        <br>
        <tr>
          <td>
              <p>
                  <a (click)="navigate()"></a> | <a [routerLink]="['registration']">Register here</a>
              </p>
          </td>
        </tr>
      </table>
    </div>
  </form>
</body>

</html>
