<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-8">
            <h1>Dashboard</h1>
        </div>
        <div class="col-md-2 col-sm-2">
            <a href="#">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
    </div>
    <div class="container">
        <button class="btn btn-primary" (click)="fetchData()">Fetch Data</button>
    </div>
    <div *ngIf="fetchDataClicked">
        <ol>
            <li *ngFor="let item of menuItems">
                <ul>
                    <li>
                        name : {{item.name}}
                    </li>
                    <li>
                        city : {{item.city}}
                    </li>
                </ul>
            </li>
        </ol>
    </div>


</div>