<div ng-controller="RegistrationComponent">

  <h1 class="text-center">
    Register Your self with us

  </h1>
  <form #regiForm="ngForm" (submit)="submit(regiForm)">
    <table align="center" width="60%">
      <tr>
        <td>First Name</td>
        <td>
          <input id="name" type="text" name="name" class="form-control" required minlength="4" [(ngModel)]="regiData.name" #name="ngModel"
            pattern="^[a-zA-Z]+$">

          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors.pattern">
              Name can not contain number
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td>Phone Number</td>
        <td>
          <input id="phone" type="text" name="phone" class="form-control" required [(ngModel)]="regiData.phone" #phone="ngModel" pattern="^[0-9]{10}$">
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="invalid">
            <div *ngIf="phone.errors.required">
              Phone number is required.
            </div>
            <div *ngIf="phone.errors.pattern">
              Phone number must be of 10 number
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <input id="email" type="text" name="email" class="form-control" required [(ngModel)]="regiData.email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>

            <div *ngIf="email.errors.pattern">
              Invalid email address
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>
          <input id="password" [ngClass]="{'validPass':(validPass=='valid') , 'invalidPass':(validPass=='invalid') }" type="password"
            name="password" class="form-control" required [(ngModel)]="regiData.password" #password="ngModel">
          <!-- <input type="password" [(ngModel)]="passData.pass" [ngClass]="{'validPass':(validPass=='valid') , 'invalidPass':(validPass=='invalid') }"
            name="pass"> -->

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>

          </div>
        </td>
      </tr>
      <tr>
        <td>Confirm Password</td>
        <td>
          <!-- <input type="text" (blur)="blurOnPass()" [(ngModel)]="passData.c_pass" [ngClass]="{'validPass':(validPass=='valid') , 'invalidPass':(validPass=='invalid') }"
            name="conf_pass">  -->


          <input id="c_password" [ngClass]="{'validPass':(validPass=='valid') , 'invalidPass':(validPass=='invalid') }" (blur)="blurOnPass()"
            type="password" name="c_password" class="form-control" required [(ngModel)]="regiData.c_password" #c_password="ngModel">
          <!-- <input type="password" [(ngModel)]="passData.pass" [ngClass]="{'validPass':(validPass=='valid') , 'invalidPass':(validPass=='invalid') }"
              name="pass"> -->

          <div *ngIf="(c_password.invalid && (c_password.dirty || c_password.touched))" class="invalid">
            <div *ngIf="c_password.errors.required">
              Confirm Password .
            </div>
            <div *ngIf="regiData.c_password === regiData.password">
              <!-- {{regiData.c_password}} =={{øregiData.password}} -->
            </div>

          </div>
          <!-- {{regiData.c_password}}=={{regiData.password}} -->
        </td>

      </tr>
      <tr>
        <td colspan="2" class="text-right">
          <button class="btn btn-danger" type="submit">SUBMIT</button>
        </td>

      </tr>
      <tr>
        <td colspan="2" class="text-right">
          login
          <a class="link" (click)="navigateToLogin()">here</a>
        </td>
      </tr>


    </table>
  </form>
</div>