<head>
        <script src="string_script.js"></script>
    </head>
    <body>
        <!-- type of functions -->
      
        Enter String : <input id="s" type="text" >
        <input type="submit" value="Enter" onclick="strFun()">
        <br><br>String length <h3 id="l"></h3>
        Locate sub string from this string
        <input type="text" id="search"> 
        <input type="submit" value="Search" onclick="subst()">
        </br>Position of your substring is 
        <h3 id="p"></h3>
        Replacing string with other string</br>
        <!-- String to replace: <input type="text" id="old">
        String to Replace with: <input type="text" id="new"> -->
        <input type="submit" value="Enter" onclick="replace()">
        <h3 id="r"></h3>
        <p id="up">String</p>
        <input type="submit" onclick="upr()" value="To UPPER">
        <p id="lw">STRING</p>
        <input type="submit" onclick="lwr()" value="to lower">
        <br><br>
        <input type="submit" onclick="cc()" value="Concat">
        <p id="cc"></p>
        </body>