*
{
  font-family:'Courier New'`;
  font-size: 20px;
}
.quiz
{
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -9em; 
  margin-left: -15em; 
}
#prev {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#next {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}