
    <form >
          <h1 class="text-center">Login </h1>
        
        <!-- {{regiDataJSON}} -->
        <table align="center" width="60%">
          
          <tr>
            <td>Email</td>
            <td>
              <input id="login_email" type="text" name="login_email" class="form-control" required [(ngModel)]="loginData.email" #login_email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    
              <div *ngIf="login_email.invalid && (login_email.dirty || login_email.touched)" class="invalid">
                <div *ngIf="login_email.errors.required">
                  Email is required.
                </div>
    
              </div>
            </td>
          </tr>
          <tr>
            <td>Password</td>
            <td>
              <input id="login_password" type="password" name="login_password" class="form-control" required [(ngModel)]="loginData.password" #login_password="ngModel">
              <!-- <input type="password" [(ngModel)]="passData.pass" [ngClass]="{'validPass':(validPass=='valid') , 'invalidPass':(validPass=='invalid') }"
                name="pass"> -->
    
              <div *ngIf="login_password.invalid && (login_password.dirty || login_password.touched)" class="invalid">
                         
              </div>
            </td>
          </tr>
        
          <tr >
              <td colspan="2" class="text-right">
                <button class="btn btn-danger" type="submit">LOGIN</button>
              </td>    
            </tr>
              <tr >
                <td colspan="2" class="text-right">
                  register <a (click)="navigateToRegi()">here</a>
                </td>    
              </tr>
        </table>
      </form>
