body{
    background: azure;
    font-family: monospace;
    color: black;s   
}

#mainTitle{
    text-align: center;
    font-size: 75px;
    padding-bottom: 20px;
}

#menuBar{
    width: 100%;
    height: 30px;
    font-size: 25px;
    padding: 5px;
    align:center;    
    color: black;
    margin-left:45%;

}

#mainDivs{
    align-content: center;
    align-items: center;
    text-align: center;
}

#subDivs{
    float: left;
    width: 420px; 
    height: 420px;
    background: white; 
    margin: 10px; 
    padding-top: 10px; 
    border: 1px solid gray;
}

button{
    margin-top: 20px;
}

#itemTitle{
    font-size: 25px;
    color:black;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    
}

#AddToCart{
    width: 300px;
    height: 50px;
    font-size: 30px;
    background: orange;
    color: white;
    margin-top: auto;
}

