<head>
    <script type="text/javascript" src="quiz.json"></script>
    <script type="text/javascript" src="quiz_answer.json"></script>
    <script type="text/javascript" src="quiz.js"></script>
</head>

<body>

    <div>
            <form name="myForm">
                    <p>
                        <span onclick="fetch('Q1');">Question 1</span>,
                        <span onclick="fetch('Q2');">Question 2</span>
                    </p>
                    <div id="Q1" class="page">
                        <script type="text/javascript"> load(0);</script>
                        <div id="div1"></div>
                        <br>
                        <input type="button" name="Next" value="Next" onclick="fetch('Q2')">
                    </div>
                    <div id="Q2" class="page" style="display:none">
                        <script type="text/javascript"> load(1);</script>
                        <br>
                        <input type="button" name="previous" value="previous" onclick="fetch('Q1')">
                        <br>
                        <br>
                        <input type="submit" name="Submit" onclick="output()">
                    </div>
                </form>
    </div>
    </h3>
</body>