 
  
            body  
            {  
            background-color:#fff; 
            }

            .calbody
            {  
            background: #000102;  
            margin-left: 450px;  
            min-width: 25em;  
            max-width: 25em;  
            }

            h1
            {  
            text-align: center;  
            font-size: 50px;  
            color: #000102;  
            }  
            
            #lcd
            {  
            text-align: right;  
            width: 22.3em;  
            height: 50px;  
            font-size: 18px;  
            }  
            
            button
            {  
            background-color: #fff;  
            width: 97px;  
            height: 60px;  
            font-size: 20px;  
           }  
            
            button:hover
            {  
            background-color: rgb(238, 119, 159);  
            color: #fff;    
            }  
       