* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.regForm {
    margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 30px;
    margin-top: 40px;
    background: #F0F0F0;
    position: relative;

}

.mainTitle {
    font-size: 40px;
    
    
    width: 50%;
    border: 3px solid #73AD21;
    padding: 30px;
    margin-top: 80px;
    background: #F0F0F0;
    position: relative;
}
/* .regForm1 {
    
    
    border: 3px solid #73AD21;
    padding: 30px;
    background: #F0F0F0;
    text-align: center;
    margin-top: 1000px;
} */

.formTitle {
    color: rgb(117, 115, 111);
    padding: 5px;
}

.formInputAge {
    color: rgb(136, 134, 129);
    padding: 5px;
}

.title1 {
    font-size: 30px;
    font-style: initial;
}

