<div  *ngIf="page == 'login'">
    <app-login (messageEvent)="receiveMessage($event)" [regiDataJson]="dataToSend"></app-login>    
</div>
<div *ngIf="page == 'registration'">
    <app-registration (messageEvent)="receiveMessage($event)" (regJsonEmiter)="recregData($event)"></app-registration>
</div>
    