<!-- Events handling-->

<head>
    <script src="events_script.js"></script>
    <link rel="stylesheet" href="events_style.css">
    <script>
        "use strict";
        function contextMenu(){
            alert("You have opened context menu");
        }
        function mOver(x){
            x.style.fontWeight = "900";
            x.style.color = "blue";
        }
        function mOut(x){
            x.style.fontWeight = "30";
            x.style.color = "black";
        }
        function kDown(){
            var t = document.getElementById("t").value;
            alert("You have pressed "+t+" from the keybaord");
        }
        function kUp(){
            var u = document.getElementById("u");
            u.value = u.value.toUpperCase();
        }
        function invalid(){
            alert("Your input is invalid");
        }
</script>
</head>

<body>
    <div class="block">
        <p oncontextmenu="contextMenu()">Right click here to open a context menu</p>
    </div>


    <p class="block" onmouseover="mOver(this)" onmouseout="mOut(this)">Move your mouse pointer here to see the difference</p>

    Demo of key down :
    <input type="text" onkeydown="kDown()" id="t">
</br></br>

    Demo of key up :
    <input type="text" onkeyup="kUp()" id="u"></br>

    Name:
    <form>
    <input type="text">
    <input type="submit" oninvalid="invalid()">
    </form>
 </body>